<template>
  <i-container>
    <h1>{{ $t('404.title') }}</h1>
    <i-container class="_text-center">
      <logo variant="404" />
    </i-container>
  </i-container>
</template>
<script>
import Logo from '../components/Logo'

export default {
  components: { Logo },
}
</script>
