<template>
  <i-container>
    <h1>{{ $t('about.title') }}</h1>
    <i18n path="about.source_availability" tag="p">
      <a href="https://gitlab.com/experimentslabs/typing-monkey"
         target="_blank"
         rel="noopener noreferrer">Gitlab</a>
    </i18n>

    <h2>{{ $t('about.contribute_header') }}</h2>
    <p>{{ $t('about.contribute_content') }}</p>

    <h2>{{ $t('about.tos_header') }}</h2>
    <p>{{ $t('about.tos_content') }}</p>

    <h2>{{ $t('about.privacy_header') }}</h2>
    <p>{{ $t('about.privacy_content') }}</p>

    <h2>{{ $t('about.licenses_header') }}</h2>
    <p>{{ $t('about.licenses_content') }}</p>
    <ul>
      <li>
        <a href="https://vuejs.org"
           target="_blank"
           rel="noopener noreferrer">VueJS</a>
      </li>
      <li>
        <a href="https://kazupon.github.io/vue-i18n"
           target="_blank"
           rel="noopener noreferrer">Vue-i18n</a>
      </li>
      <li>
        <a href="https://inkline.io"
           target="_blank"
           rel="noopener noreferrer">Inkline</a>
      </li>
      <li>
        <a href="https://markdown-it.github.io"
           target="_blank"
           rel="noopener noreferrer">Markdown-it</a>
      </li>
      <li>
        <a href="https://gitlab.com/experimentslabs/typing-monkey/blob/master/package.json"
           target="_blank"
           rel="noopener noreferrer">{{ $t('about.licenses_content_other') }}</a>
      </li>
    </ul>

    <i18n path="about.logo_derivative" tag="p">
      <a href="https://en.wikipedia.org/wiki/Infinite_monkey_theorem#/media/File:Chimpanzee_seated_at_typewriter.jpg"
         target="_blank"
         rel="noopener noreferrer">Chimpanzee_seated_at_typewriter.jpg</a>
    </i18n>
  </i-container>
</template>
