<template>
  <i-container>
    <h1>{{ $t('home.site_description') }}</h1>

    <small>{{ $t('app.site_under_construction') }}</small>

    <i-row>
      <i-column sm="6" class="_text-center">
        <logo variant="home" />
      </i-column>
      <i-column sm="6">
        <h2>{{ $t('home.title') }}</h2>
        <template-list />
      </i-column>
    </i-row>
  </i-container>
</template>

<script>
import Logo from '../components/Logo'
import TemplateList from '../components/TemplateList'

export default {
  name: 'Home',
  components: { TemplateList, Logo },
}
</script>
