<template>
  <i-layout class="render-page" vertical>
    <i-layout-aside class="render-page__aside">
      <i-container v-if="ready">
        <section class="small _margin-bottom-1">
          <strong>{{ $t('renderer.name') }}</strong> {{ templateMeta.name }}<br>
          <strong>{{ $t('renderer.description') }}</strong> {{ templateMeta.description }}
        </section>
        <section>
          <i-alert dismissible size="sm">
            {{ $t('renderer.help.line1') }} <br>
            {{ $t('renderer.help.line2') }}
          </i-alert>
        </section>
        <i-form size="sm">
          <section v-if="variables.length > 0">
            <h2 class="h3 _margin-y-0">
              {{ $t('renderer.variables') }}
            </h2>
            <variable v-for="variable in variables"
                      :key="variable.name"
                      v-model="variable.content"
                      :variable="variable" />
          </section>
          <!--          <section v-if="blocks.length > 0">-->
          <!--            <h2 class="h3 _margin-y-0">-->
          <!--              {{ $t('renderer.sections') }}-->
          <!--            </h2>-->
          <!--            <block v-for="block in blocks" :key="block.name" :block="block" @update="updateBlock" />-->
          <!--          </section>-->
        </i-form>
      </i-container>
    </i-layout-aside>
    <i-layout-content class="render-page__content">
      <i-container :fluid="true">
        <i-button-group class="_margin-bottom-1">
          <i-button :active="displayTab === 'render'"
                    :variant="displayTab === 'render' ? 'primary' : ''"
                    @click.prevent="displayTab = 'render'">
            {{ $t('renderer.buttons.render') }}
          </i-button>
          <i-button :active="displayTab === 'html'"
                    :variant="displayTab === 'html' ? 'primary' : ''"
                    @click.prevent="displayTab = 'html'">
            HTML
          </i-button>
          <i-button :active="displayTab === 'md'"
                    :variant="displayTab === 'md' ? 'primary' : ''"
                    @click.prevent="displayTab = 'md'">
            Markdown
          </i-button>
          <i-button :active="displayTab === 'source'"
                    :variant="displayTab === 'source' ? 'primary' : ''"
                    @click.prevent="displayTab = 'source'">
            {{ $t('renderer.buttons.source') }}
          </i-button>
        </i-button-group>
        <div class="render-page__main-content"
             :class="displayTab === 'render' ? 'render-page__render' : 'render-page__raw'">
          <pre v-show="displayTab === 'source'">{{ source }}</pre>
          <pre v-if="ready" v-show="displayTab === 'md'">{{ renderedMd }}</pre>
          <pre v-if="ready" v-show="displayTab === 'html'">{{ renderedText }}</pre>
          <!-- eslint-disable vue/no-v-html -->
          <div v-if="ready" v-show="displayTab === 'render'" v-html="renderedText" />
          <!-- eslint-enable vue/no-v-html -->
        </div>
      </i-container>
    </i-layout-content>
    <i-layout-aside v-if="blocks.length > 0" class="render-page__aside">
      <i-container v-if="ready">
        <i-form size="sm">
          <section>
            <h2 class="h3 _margin-y-0">
              {{ $t('renderer.sections') }}
            </h2>
            <block v-for="block in blocks" :key="block.name" :block="block" @update="updateBlock" />
          </section>
        </i-form>
      </i-container>
    </i-layout-aside>
  </i-layout>
</template>

<script>
import ParserMixin from '../mixins/parser'
import MarkdownIt from 'markdown-it'
import Block from '../components/template_renderer/Block'
import Variable from '../components/template_renderer/Variable'
import templates from '../templates'

export default {
  name: 'Renderer',
  components: { Variable, Block },
  mixins: [ParserMixin],
  data () {
    return {
      ready: false,
      displayTab: 'render',
      templateMeta: null,
    }
  },
  computed: {
    renderedText () {
      return this.renderText()
    },
    renderedMd () {
      return this.render()
    },
  },
  methods: {
    // Section selection
    updateBlock ({ name, value }) {
      let block = this.findBlock(this.blocks, name)
      if (block) {
        block.show = value
      } else {
        console.warn(`updateBlock: Block "${name}"not found`)
      }
    },
    renderText () {
      const md = new MarkdownIt(this.templateMeta.mdFlavor || null)
      return md.render(this.renderedMd)
    },
  },
  created () {
    const locale = this.$route.params.locale
    const file = this.$route.params.file
    if (templates[locale] && templates[locale][file]) {
      this.templateMeta = templates[locale][file]
      fetch(`/templates/${locale}/${file}`)
        .then((response) => {
          return response.blob()
            .then(async (blob) => {
              this.source = await (new Response(blob)).text()
              this.parse(this.source)
              this.ready = true
            })
        })
        .catch((error) => { console.log('error', error) })
    } else {
      this.$router.push({ name: '404' })
    }
  },
}
</script>
