<template>
  <i-dropdown>
    <i-button variant="dark">
      {{ $t(`locales.${$root.$i18n.locale}`) }}
    </i-button>
    <i-dropdown-menu>
      <i-dropdown-item v-for="(locale, i) in locales"
                       :key="`Lang${i}`"
                       href="#"
                       @click.native.prevent="$root.$i18n.locale = locale">
        {{ $t(`locales.${locale}`) }}
      </i-dropdown-item>
    </i-dropdown-menu>
  </i-dropdown>
</template>
<script>
export default {
  name: 'LocaleSelector',
  data () {
    return {
      locales: ['en', 'fr'],
    }
  },
}
</script>
