<template>
  <i-list-group size="sm">
    <i-list-group-item>
      <i-button-group size="sm">
        <i-button v-for="locale in locales"
                  :key="locale"
                  :active="activeTab === locale"
                  @click="activeTab = locale">
          {{ locale === 'none' ? $t('template_list.unlocalized') : $t(`locales.${locale}`) }}
          <i-badge size="sm" variant="primary">
            {{ list[locale] | count }}
          </i-badge>
        </i-button>
      </i-button-group>
    </i-list-group-item>

    <template-list-item v-for="(template, filename) in list[activeTab]"
                        :key="filename"
                        :file="filename"
                        :locale="activeTab"
                        :template="template" />
  </i-list-group>
</template>
<script>
import list from '../templates'
import TemplateListItem from './TemplateListItem'

export default {
  name: 'TemplateList',
  components: { TemplateListItem },
  data () {
    return {
      list,
      locales: Object.keys(list).sort(),
      activeTab: list.hasOwnProperty(this.$root.$i18n.locale) ? this.$root.$i18n.locale : 'en',
    }
  },
  computed: {},
  methods: {},
  filters: {
    count: list => Object.keys(list).length,
  },
}
</script>
