<template>
  <i-list-group-item>
    <h4>
      <router-link :to="{ name: 'renderer', params: { locale, file } }">
        {{ template.name }}
      </router-link>
    </h4>
    <dl class="infos infos--inline">
      <div v-if="showLanguage" class="infos-item">
        <dt>{{ $t('template_list.item.language') }}</dt>
        <dd>{{ locale !== 'none' ? $t(`locales.${locale}`) : '-' }}</dd>
      </div>
    </dl>
    <div>{{ template.description }}</div>
  </i-list-group-item>
</template>
<script>
export default {
  name: 'TemplateListItem',
  props: {
    file: { required: true, type: String },
    locale: { required: false, type: String, default: 'none' },
    template: { required: true, type: Object },
    showLanguage: { required: false, type: Boolean, default: true },
  },
}
</script>
