<template>
  <div id="app" v-bar>
    <div>
      <i-navbar variant="dark" class="app__nav">
        <i-navbar-brand to="/">
          <logo variant="navbar" />
          Typing Monkey
        </i-navbar-brand>
        <i-navbar-items>
          <i-nav />
          <i-nav>
            <i-nav-item href="https://experimentslabs.com/projects/typing-monkey"
                        target="_blank"
                        rel="noopener norefferer">
              {{ $t('app.news') }}
            </i-nav-item>
            <i-nav-item :to="{ name: 'about' }">
              {{ $t('app.about') }}
            </i-nav-item>
            <i-nav-item :to="{ name: 'help' }">
              {{ $t('app.help_on_templates') }}
            </i-nav-item>
            <locale-selector />
          </i-nav>
        </i-navbar-items>
      </i-navbar>
      <div class="app__main-layout">
        <router-view />
      </div>
      <footer class="app__footer">
        <i-container>
          <i-row>
            <i-column>
              <div>
                <i18n path="app.by_elabs">
                  <a href="https://experimentslabs.com">ExperimentsLabs</a>
                </i18n>
              </div>
              <small>Build <code><a href="https://gitlab.com/experimentslabs/typing-monkey/commit/CI_COMMIT_SHA"
                                    target="_blank"
                                    rel="noopener noreferrer">CI_COMMIT_SHORT_SHA</a></code></small>
            </i-column>
            <i-column class="_text-right">
              <a href="https://gitlab.com/experimentslabs/typing-monkey" target="_blank">{{ $t('app.propose') }}</a>
            </i-column>
          </i-row>
        </i-container>
      </footer>
    </div>
  </div>
</template>
<script>
import Logo from './components/Logo'
import LocaleSelector from './components/LocaleSelector'

export default {
  components: { LocaleSelector, Logo },
}
</script>

<style lang="scss">
  @import "stylesheets/app";
</style>
