<template>
  <i-form-group>
    <i-form-label>{{ variable.description || variable.name }}</i-form-label>
    <i-textarea v-if="variable.type === 'TEXT'" v-model="displayValue" />
    <i-input-numper v-else-if="variable.type === 'number'" v-model="displayValue" />
    <i-input v-else v-model="displayValue" type="text" />
  </i-form-group>
</template>
<script>
export default {
  name: 'Variable',
  props: {
    variable: { required: true, type: Object },
  },
  data () {
    return {
      displayValue: null,
      ready: false,
    }
  },
  created () {
    this.displayValue = this.$props.variable.content === '________' ? '' : this.$props.variable.content
    this.id = `input-${this.$props.variable.name}`
    this.ready = true
  },
  watch: {
    displayValue (newVal) {
      this.$emit('input', newVal === '' ? '________' : newVal)
    },
  },
}
</script>
